.dashboard {
  display: flex;
  gap: 24px;

  &__members {
    width: 100%;
    padding: 24px;
    border-radius: 8px;
    gap: 16px;
    background-color: white;

    &__empty {
      padding: 24px 24px 70px 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #ffffff;
      p {
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #6b7280;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      color: #2f3644;
      margin-bottom: 16px;

      text {
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
      }
      p {
        line-height: 20px;
        letter-spacing: 0em;
        color: #75bc62;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &__data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      border-bottom: 1px solid #f3f4f6;
      padding: 12px 0px 12px 0px;

      &__avatar {
        display: flex;
        gap: 8px;
      }
      text {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        color: #1f2937;
      }
      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        color: #6b7280;
      }
    }
  }
  &__divider {
    border-left: 1px solid #1f2937;
    padding-left: 2px;
  }
}

@media screen and (min-width: 1500px) {
  .dashboard {
    display: block;
    &__members {
      border-radius: 0px;
    }
  }
}

@media screen and (max-width: 768px) {
  .dashboard {
    display: block;
    &__members {
      border-radius: 0px;
      padding: 24px 0 24px 0;
    }
  }
}
