.formInput {
  text-align: left;
  &__input {
    margin-bottom: 24px;
  }
  &__forgotPassword {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #6b7280;

    span {
      color: #75bc62;
      text-decoration: underline;
      cursor: pointer;
    }
    p {
      text-align: center;
      margin-top: 32px;
    }
  }
  &__btn {
    margin-top: 40px;
  }
}

//OTP
.otp {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  color: #6b7280;
  button {
    display: flex;
    gap: 5px;
    color: #75bc62;
    border: none;
    background: none;
  }
}
.otp_button {
  margin-top: 40px;
}

.otp__expire {
  display: flex;
  gap: 5px;
}
