.management {
  background-color: white;
  padding: 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &__search {
      width: 499px;
      gap: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #2f3644;
      }
    }
    &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 283px;
      gap: 12px;
    }
  }
}
.avatar_name {
  display: flex;
  gap: 5px;
//   padding-left: 0 !important;
  justify-content: start;
  align-items: center;
}
