.cardWrapper {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;

  p {
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #6b7280;
    margin-top: 8px;
  }
  h6 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #6b7280;
    margin-top: 8px;
  }
  &__green {
    width: 100%;
    padding: 24px 24px;
    border-radius: 8px;
    border: 1px solid #f3f4f6;
    background: url("../../assets/greentimer.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  &__blue {
    width: 100%;
    padding: 24px 24px;
    border-radius: 8px;
    border: 1px solid #f3f4f6;
    background: url("../../assets/bluetimer.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  &__red {
    width: 100%;
    padding: 24px 24px;
    border-radius: 8px;
    border: 1px solid #f3f4f6;
    background: url("../../assets/redtimer.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

@media screen and (min-width: 1500px) {
  .cardWrapper {
    display: block;
    &__green {
      margin-bottom: 16px;
    }
    &__blue {
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .cardWrapper {
    display: block;
    padding: 0;
    &__green {
      margin-bottom: 16px;
    }
    &__blue {
      margin-bottom: 16px;
    }
  }
}
