.avatar {
    &__placeholder {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-weight: 500;
      font-size: 14px;
      border: 2px solid #eef5ff;
      background: #ed9373;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0;
      position: relative;
    }
  
    &__close__img {
      position: absolute;
      left: 23rem;
      top: 10%;
      cursor: pointer;
    }
  
    &__profile {
      background: #9cf9ff;
      width: 94px;
      height: 94px;
      font-weight: 500;
      font-size: 45px;
      padding: 4px;
      box-shadow: 0 0 0 10px #e6fdff;
      box-sizing: border-box;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .profile__img {
    width: 94px;
    height: 94px;
    font-weight: 500;
    font-size: 45px;
    padding: 4px;
    border: 2px solid #eef5ff;
    box-sizing: border-box;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
  
  .header__img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-weight: 500;
    font-size: 14px;
    border: 2px solid #eef5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    position: relative;
    object-fit: cover;
  }
  