* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  color: #2f3644;
  font-family: "General Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  word-break: break-word;
}
.ub-tstn_wbgszh {
  display: none !important;
}
.ub-z-idx_20 {
  z-index: 1000 !important;
}
.ub-bg-clr_rgba67-90-111-0-7_groewj::before {
  background: #2d2d2d80 !important;
}
.css-1u9des2-indicatorSeparator {
  display: none;
}
