* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  color: #2f3644;
  font-family: "General Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  word-break: break-word;
}
