* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  color: black;
  font-family: 'General Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  word-break: break-word;
}

